a {
  color: #fff;
  text-decoration: none;
}

.navegacion {
  position: relative;
  z-index: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  background-color: #001c4c;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 16px;
  white-space: normal;
}

.container {
  position: static;
  top: 0px;
  color: #fff;
}

.nav-menu {
  color: #fff;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.nav-link {
  position: relative;
  color: #fff;
}

.nav-link-2 {
  color: #fff;
}

.brand {
  width: 20%;
  background-image: url('../images/LV_logo.svg');
  background-position: 50% 50%;
  background-size: 700px;
}

.body {
  background-color: #93d4e0;
  line-height: 20%;
}

.scrolling {
  position: static;
}

.grid {
  -ms-grid-columns: 1fr 1fr 0.25fr;
  grid-template-columns: 1fr 1fr 0.25fr;
}

.image {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.image-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.inicio {
  position: relative;
  font-family: 'Changa One', Impact, sans-serif;
}

.titular {
  position: relative;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 100px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
}

.contenedor {
  position: relative;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #f1ecd4;
  -o-object-fit: fill;
  object-fit: fill;
}

.contenedor_2 {
  position: relative;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  overflow: visible;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #93bfe0;
  -o-object-fit: fill;
  object-fit: fill;
}

.subtitulo {
  position: relative;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.text-span-2 {
  background-color: #93d4e0;
  color: #000;
}

@media screen and (min-width: 1280px) {
  .nav-link {
    position: relative;
  }

  .brand {
    position: static;
    width: 20%;
    height: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .body {
    background-color: #93d4e0;
  }
}

@media screen and (max-width: 991px) {
  .brand {
    width: 20%;
    background-size: 500px;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    width: 30%;
  }

  .titular {
    font-size: 60px;
    line-height: 50px;
  }

  .subtitulo {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .brand {
    width: 40%;
    margin-left: 8px;
  }

  .titular {
    font-size: 40px;
    line-height: 30px;
  }

  .subtitulo {
    font-size: 14px;
    line-height: 18px;
  }
}